$base-color: #c0dfdb;
@mixin flexCustomize($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.wrapper{
    overflow-x: hidden;
    // height: 100%;
    .top-nav{
        height: 5vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        @include flexCustomize(space-between,center);
        background-color: $base-color;
        .bold-text{font-weight: bold;}
        p{
            padding: 2% 0 2% 5%;
            font-size: 0.9rem;}
        }
    header{
        height: 10vh;
        margin-top: 5vh;
        @include flexCustomize(space-around, center);
        .logo{
            @include flexCustomize(center, center);
            font-family: 'Roboto', sans-serif;
            width: 25%;
            // padding: 20px;
            height: 100%;
            text-decoration: none;
            color: #000;
        }
        i{font-size: 1rem;}
        .menu{display: none;}
        .overlay{
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 5vh;
            left: 0;
            background-color: rgba(0,0,0, 0.9);
            // overflow: auto;
            // transition: all 2s;
            .fa-times{
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.8rem;
                color: #fff;
            }
            ul{
                @include flexCustomize(center, center);
                flex-direction: column;
                height: 100%;
                width:100%;
                li{
                    width:100%;
                    height: 10%;
                    a{
                        @include flexCustomize(center, center);
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        height: 100%;
                        // transition: all .3s;
                    }
                    &::after{
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 50%;
                        border-bottom: 2px solid $base-color;
                    }
                }
            }
        }
    }
    main{
        .img-container{
            // width: 100vw;
            // height: 60vh;
            // img{
            //     // width: 60vw;
            //     height: 100%;
            //     scale: 10;
            // }
            // background-color: #88694b94;

            .baner{
                background: url('images/cars.jpg');
                width: 70vw;//100vw
                height: 60vh;
                background-size: cover;
                background-position: 20% 65%;
            }

        }



        .chapter{
            // opacity: 0;
            // transform: translateY(20px);

            line-height: 32px;
            @include flexCustomize(space-evenly, center);
            p{font-size: 1.2rem;}
            flex-direction: column;
            h2{font-size: 1.6rem;
                margin-bottom: 10px;
            }
            .title{
                opacity: 0;
                transform: translateY(20px);
                transition: 0.8s all ease-in-out;}
            .appear{
                opacity: 1;
                transform: translateY(0px);
            }

            padding: 5%;
            h2{padding: 2%; width: 100%; text-align: center};




            .anchor {
                display: block;
                position: relative;
                bottom: 8vh;
                visibility: hidden;
            }

        }
        .introduction{
            height: 25vh;
            h2{padding: 1%;}
        }
        .ofirmie, .uslugi, .kontakt{
            text-align: justify;
            margin-bottom: 30px;
            position: relative;
            h2{padding-bottom: 2vh;}
            img{
                position: absolute;
                top: 3%;
                left: 20%;
                width: 10vw;
                opacity: .2;
            }
            ul{
                li{
                    padding-top: 2vh;
                    list-style: none;
                    &::before{
                        content: '';
                        margin-right: 25px;
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        background-image: url(images/gear.png);
                        background-size: cover;
                    }
                }
            }

        }

        .kontakt{
            .form-group{
                margin-bottom:1.5rem;
                transition:all .3s;

                .form-label{
                    font-size:.75rem;
                    display:block;
                    opacity:0;
                    transition: all .3s;
                    transform:translateX(-50px);
                }
                .form-control{
                    box-shadow:none;
                    border-radius:0;
                    border-color:#ccc;
                    border-style:none none solid none;
                    width:100%;
                    font-size:1.2rem;
                    transition:all .6s;
s
                    &:focus{
                        box-shadow: none;
                        border-color: #254ca1;
                        outline:none;
                    }

                    &:invalid:focus{
                        border-color: red;
                    }
                }
                .form-control::placeholder{
                    color:#aaa;
                }

                textarea{
                    resize: none;
                }
            }

            .btn{
                background: 0 0 #fff;
                border:1px solid #aaa;
                border-radius:3px;
                color: #254ca1;
                font-size:1em;
                padding:10 50px;
                text-transform:uppercase;
                padding: 10px;

                &:hover{
                    border-color:$base-color;
                    // color:var(--font-hover-color);
                }
            }
            
        }
    }
    footer{
        .location{
            background-color: $base-color;
            width: 100%;
            text-align: center;
            iframe{
                width: 90%;
                margin: 0 auto;
            }
        }
        .copy{
            text-align: center;
            padding: 5px;
            background-color: $base-color;
            .author{color: rgb(28, 109, 75);}
        }
        .showBtn{
            opacity: 0;
            transition: opacity .5s;
            .toupBtn{
                position: fixed;
                bottom: 3vh;
                right: 2%;
                width: 60px;
                height: 60px;
                cursor: pointer;
                text-align: center;
                border-radius: 50%;
                background-color: rgb(216, 216, 216);
                .fa-arrow-up{font-size: 30px; line-height: 60px;}
            }
        }
    }
}
@media screen and(min-width: 700px){
    .wrapper{
        header{
            .burger-menu{display: none;}
            .menu{
                display:block;
                height: 100%;
                flex: 1;
                .fa-times{display: none;}
                ul{
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    li{
                        list-style: none;
                        width: 100%;
                        height: 100%;
                        // font-size: 1.6vw;
                        a{
                            @include flexCustomize(center, center);
                            color:#000; 
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            text-transform: uppercase;
                            transition: all .3s;
                            &:hover{background-color: $base-color;}
                        }
                    }
                }
            }
        }
        main{
            .chapter{
                ul{
                    margin-top: 20px;
                    li{
                        font-size: 2vw;
                        // list-style: none;

                        // &::before{
                        //     content: '';
                        //     margin-right: 25px;
                        //     display: inline-block;
                        //     height: 20px;
                        //     width: 20px;
                        //     background-image: url(images/gear.png);
                        //     background-size: cover;
                        // }
                    }

                }
                .contact-box{margin-top: 20px;}
                img{width: 8vw;}
            }
        }   
    }
}
@media only screen and(min-width: 1025px){
    .wrapper{
        .top-nav{
            p{font-size: 1vw;}
        }
        header{
            .logo{font-size: 1.4vw; width: 20vw;}
            .menu{
                ul{
                    li{font-size: 1.2vw;}
                }
            }

            // .burger-menu{display: none;}
            // .menu{
            //     display:block;
            //     height: 100%;
            //     flex: 1;
            //     .fa-times{display: none;}
            //     ul{
            //         height: 100%;
            //         display: flex;
            //         flex-direction: row;
            //         li{
            //             list-style: none;
            //             width: 100%;
            //             height: 100%;
            //             font-size: 1.2vw;
            //             a{
            //                 @include flexCustomize(center, center);
            //                 color:#000; 
            //                 text-decoration: none;
            //                 width: 100%;
            //                 height: 100%;
            //                 text-transform: uppercase;
            //                 transition: all .3s;
            //                 &:hover{background-color: $base-color;}
            //             }
            //         }
            //     }
            // }

        }
        main{
            .chapter:nth-child(n+3) {
                @include flexCustomize(center,center );
                border-top: 10px double $base-color;
                padding: 10vh 5vh;
                width: 80vw;
                margin: 2.5vw auto;
                // h2{border: 1px solid blue; padding: 0; margin: 0;}
                img{top: 12vh; width: 5vw; left: 30vw;}
                p{ padding:1vw; margin-top: 1vw;}//border: 1px solid #000;
            }

            .kontakt{

                .form-control{
                    font-size: 1.2vw;
                }
            }

            .chapter{
                h2{font-size: 2vw;}
                p{font-size: 1.4vw;}
                ul{
                    li{font-size: 1.4vw;
                    padding-left: 1rem;
                    // background-image: url();
                    // background-position: 0 0;
                    // background-size: 1.6rem 1.6rem;
                    // background-repeat: no-repeat;
                    }
                }
                .contact-box{
                    margin-top: 1vw;
                    h3{font-size: 1.2vw;}
                }
                .anchor {bottom: 15vh;}
            }
        }
        footer{
            .location{
                iframe{
                    height: 60vh;
                    width: 100%;
                }
            }
            // .copy{padding: 10px;}
            .showBtn{
                .toupBtn{
                    width: 4vw;
                    height: 4vw;
                    
                    .fa-arrow-up{font-size: 2vw; line-height: 4vw;}
                }
            }
        }
    }
}

