* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  overflow-x: hidden;
}

.wrapper .top-nav {
  height: 5vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #719fd3;
}

.wrapper .top-nav .bold-text {
  font-weight: bold;
}

.wrapper .top-nav p {
  padding: 2% 0 2% 5%;
  font-size: 0.9rem;
}

.wrapper header {
  height: 10vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 25%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.wrapper header i {
  font-size: 1rem;
}

.wrapper header .menu {
  display: none;
}

.wrapper header .overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 5vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.wrapper header .overlay .fa-times {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: #fff;
}

.wrapper header .overlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.wrapper header .overlay ul li {
  width: 100%;
  height: 10%;
}

.wrapper header .overlay ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
}

.wrapper header .overlay ul li::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px solid #719fd3;
}

.wrapper main .img-container .baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.wrapper main .img-container .baner .img2 {
  background: url("images/cars.jpg");
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position: 86% 20%;
}

.wrapper main .chapter {
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .chapter p {
  font-size: 1.2rem;
}

.wrapper main .chapter .tekst {
  padding: 5%;
}

.wrapper main .chapter h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.wrapper main .chapter .title {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}

.wrapper main .chapter .appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper main .chapter h2 {
  padding: 2%;
  width: 100%;
  text-align: center;
}

.wrapper main .chapter .anchor {
  display: block;
  position: relative;
  bottom: 8vh;
  visibility: hidden;
}

.wrapper main .introduction {
  height: 25vh;
}

.wrapper main .introduction h2 {
  padding: 1%;
}

.wrapper main .ofirmie, .wrapper main .uslugi, .wrapper main .kontakt {
  text-align: justify;
  margin-bottom: 30px;
  position: relative;
}

.wrapper main .ofirmie .other-align, .wrapper main .uslugi .other-align, .wrapper main .kontakt .other-align {
  font-weight: bold;
  text-align: center;
}

.wrapper main .ofirmie h2, .wrapper main .uslugi h2, .wrapper main .kontakt h2 {
  padding-bottom: 2vh;
}

.wrapper main .ofirmie img, .wrapper main .uslugi img, .wrapper main .kontakt img {
  position: absolute;
  top: 3%;
  left: 20%;
  width: 10vw;
  opacity: .2;
}

.wrapper main .ofirmie ul li, .wrapper main .uslugi ul li, .wrapper main .kontakt ul li {
  padding-top: 2vh;
  list-style: none;
}

.wrapper main .ofirmie ul li::before, .wrapper main .uslugi ul li::before, .wrapper main .kontakt ul li::before {
  content: '';
  margin-right: 25px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(images/gear.png);
  background-size: cover;
}

.wrapper main .kontakt {
  border-bottom: 10px solid rgba(255, 255, 106, 0.952);
  margin: 0;
}

.wrapper main .kontakt .container {
  background-color: #282B28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .kontakt .container .contact {
  color: #fff;
  display: block;
  margin: 5% 0;
  padding: 0;
}

.wrapper main .kontakt .container .webform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #719fd3;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .kontakt .container .webform-container .form {
  background-color: #fff;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.wrapper main .kontakt .container .webform-container .form .form-group {
  margin-bottom: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-label {
  font-size: .75rem;
  display: block;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.1rem;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #254ca1;
  outline: none;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control:invalid:focus {
  border-color: red;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control::-webkit-input-placeholder {
  color: #aaa;
  padding-left: 7px;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control:-ms-input-placeholder {
  color: #aaa;
  padding-left: 7px;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control::-ms-input-placeholder {
  color: #aaa;
  padding-left: 7px;
}

.wrapper main .kontakt .container .webform-container .form .form-group .form-control::placeholder {
  color: #aaa;
  padding-left: 7px;
}

.wrapper main .kontakt .container .webform-container .form .form-group textarea {
  resize: none;
}

.wrapper main .kontakt .container .webform-container .form .btn {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 1em;
  padding: 10 50px;
  text-transform: uppercase;
  padding: 10px;
}

.wrapper main .kontakt .container .webform-container .form .btn:hover {
  border-color: #19819b;
  color: #19819b;
}

.wrapper main .kontakt .container .contact {
  text-align: center;
  padding: 15px;
}

.wrapper footer .location {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper footer .location iframe {
  width: 100%;
}

.wrapper footer .info {
  border-top: 10px solid rgba(255, 255, 106, 0.952);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  background-color: #305b8d;
}

.wrapper footer .copy {
  text-align: center;
  padding: 5px;
  background-color: #719fd3;
}

.wrapper footer .copy .author {
  color: #1c6d4b;
}

.wrapper footer .showBtn {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.wrapper footer .showBtn .toupBtn {
  position: fixed;
  bottom: 3vh;
  right: 2%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.wrapper footer .showBtn .toupBtn .fa-arrow-up {
  font-size: 30px;
  line-height: 60px;
}

@media screen and (min-width: 700px) {
  .wrapper header .burger-menu {
    display: none;
  }
  .wrapper header .menu {
    display: block;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper header .menu .fa-times {
    display: none;
  }
  .wrapper header .menu ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper header .menu ul li {
    list-style: none;
    width: 100%;
    height: 100%;
  }
  .wrapper header .menu ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .wrapper header .menu ul li a:hover {
    background-color: #719fd3;
  }
  .wrapper main .chapter:nth-child(n+3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 10px double #719fd3;
    padding: 5vh 0;
    margin: 0 auto;
  }
  .wrapper main .chapter:nth-child(n+3) img {
    top: 8vh;
    width: 5vw;
    left: 35vw;
  }
  .wrapper main .chapter:nth-child(n+3) p {
    padding: 1vw;
    margin-top: 1vw;
  }
  .wrapper main .chapter:nth-child(n+3) .tekst {
    padding: 0;
    border: 1px solid black;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
  }
  .wrapper main .kontakt {
    padding-bottom: 0 !important;
  }
  .wrapper main .kontakt .container {
    padding: 5vh 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper main .kontakt .container .contact p {
    font-size: 1rem;
  }
  .wrapper main .kontakt .container .webform-container {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper main .kontakt .container .webform-container .form {
    padding: 20px;
  }
  .wrapper main .kontakt .container .webform-container .form .form-group {
    margin-bottom: 1rem;
  }
  .wrapper main .kontakt .container .webform-container .form .form-group .form-control {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1025px) {
  .wrapper .top-nav p {
    font-size: 1vw;
  }
  .wrapper header .logo {
    font-size: 1.4vw;
    width: 20vw;
  }
  .wrapper header .menu ul li {
    font-size: 1.2vw;
  }
  .wrapper main .baner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60vh;
  }
  .wrapper main .baner .img2 {
    display: none;
  }
  .wrapper main .baner .img1 {
    background: url("images/carss.jpg");
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-size: cover;
    background-position: 20% 65%;
  }
  .wrapper main .chapter:nth-child(n+3) {
    padding: 9vh 0;
  }
  .wrapper main .chapter h2 {
    font-size: 2vw;
  }
  .wrapper main .chapter p {
    font-size: 1.4vw;
  }
  .wrapper main .chapter ul li {
    font-size: 1.4vw;
    padding-left: 1rem;
  }
  .wrapper main .chapter .contact-box {
    margin-top: 1vw;
  }
  .wrapper main .chapter .contact-box h3 {
    font-size: 1.2vw;
  }
  .wrapper main .chapter .anchor {
    bottom: 15vh;
  }
  .wrapper main .kontakt .container {
    padding: 8vh 0;
  }
  .wrapper main .kontakt .container .webform-container .form .form-group .form-control {
    font-size: 1.2vw;
  }
  .wrapper main .kontakt .container .contact p {
    font-size: 1.4rem;
  }
  .wrapper footer .location iframe {
    height: 60vh;
    width: 100%;
  }
  .wrapper footer .showBtn .toupBtn {
    width: 4vw;
    height: 4vw;
  }
  .wrapper footer .showBtn .toupBtn .fa-arrow-up {
    font-size: 2vw;
    line-height: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */