$base-color: #0B3142;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #262626;
}

// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto', sans-serif;

.wrapper{
    border: 1px solid red;
    .top-nav{
        border: 1px solid green;
        background-color: $base-color;
        p{
            padding: 2% 0 2% 5%;
            color: #E2E8CE;
            margin: 0;
            font-size: .9rem;
        }
    }
    header{
        height: 10vh;
        border: 1px solid pink;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            padding: 3%;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-weight: 400;
        }
        i{font-size: 1.2rem;}
        .menu{display: none;}
    }
    main{
        .img-container{
            background-image: url(images/auto.jpg);
            width: 100vw;
            height: 60vh;
            background-size: cover;
            background-position: center left;
        }
    }
}
@media screen and(min-width: 1023px){
    //iPad Pro
    // .wrapper{
    //     .top-nav{

    //     }
    // }
}
@media only screen and(min-width: 1200px){
    //Laptop
    .wrapper{
        .top-nav{
            p{
                padding: 10px 0 10px 30px;
                font-size: 1rem;
            }
        }
    }
}
